{"swagger":"2.0","info":{"title":"Default title","description":"Custom connector to use MS Graph API","version":"1.0"},"host":"graph.microsoft.com","basePath":"/v1.0/","schemes":["https"],"consumes":[],"produces":[],"paths":{"/teams/{TeamId}/channels/{ChannelId}/tabs":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"@odata.context":{"type":"string","description":"@odata.context"},"@odata.count":{"type":"integer","format":"int32","description":"@odata.count"},"value":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"id"},"displayName":{"type":"string","description":"displayName"},"webUrl":{"type":"string","description":"webUrl"},"configuration":{"type":"object","properties":{"entityId":{"type":"string","description":"entityId"},"contentUrl":{"type":"string","description":"contentUrl"},"removeUrl":{"type":"string","description":"removeUrl"},"websiteUrl":{"type":"string","description":"websiteUrl"}},"description":"configuration"}}},"description":"value"}}}}},"summary":"List Tabs in a channel in a Team","description":"List Tabs in a channel in a Team with filters","operationId":"ListTabs","parameters":[{"name":"TeamId","in":"path","required":true,"type":"string"},{"name":"ChannelId","in":"path","required":true,"type":"string"},{"name":"$filter","in":"query","required":false,"type":"string"}]},"post":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"displayName":{"type":"string","description":"displayName"},"configuration":{"type":"object","properties":{"entityId":{"type":"string","description":"entityId"},"contentUrl":{"type":"string","description":"contentUrl"},"websiteUrl":{"type":"string","description":"websiteUrl"},"removeUrl":{"type":"string","description":"removeUrl"}},"description":"configuration"},"sortOrderIndex":{"type":"string","description":"sortOrderIndex"},"webUrl":{"type":"string","description":"webUrl"}}}}},"summary":"Add tab to a channel in a Team","description":"Add tab to a channel in a Team","operationId":"AddTab","parameters":[{"name":"TeamId","in":"path","required":true,"type":"string"},{"name":"ChannelId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"teamsApp@odata.bind":{"type":"string","description":"teamsApp@odata.bind"},"displayName":{"type":"string","description":"displayName"},"configuration":{"type":"object","properties":{"contentUrl":{"type":"string","description":"contentUrl"},"removeUrl":{"type":"string","description":"removeUrl"},"websiteUrl":{"type":"string","description":"websiteUrl"}},"description":"configuration"}}}}]}},"/teams/{TeamId}/channels/{ChannelId}/tabs/{TabId}":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"@odata.context":{"type":"string","description":"@odata.context"},"id":{"type":"string","description":"id"},"displayName":{"type":"string","description":"displayName"},"webUrl":{"type":"string","description":"webUrl"},"configuration":{"type":"object","properties":{"entityId":{"type":"string","description":"entityId"},"contentUrl":{"type":"string","description":"contentUrl"},"removeUrl":{"type":"string","description":"removeUrl"},"websiteUrl":{"type":"string","description":"websiteUrl"}},"description":"configuration"}}}}},"summary":"Get Tab details","operationId":"GetTab","description":"Get Tab details with its ID","parameters":[{"name":"TeamId","in":"path","required":true,"type":"string"},{"name":"ChannelId","in":"path","required":true,"type":"string"},{"name":"TabId","in":"path","required":true,"type":"string"}]},"delete":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Delete a tab in a channel in a Team","description":"Delete a tab in a channel in a Team","operationId":"DeleteTab","parameters":[{"name":"TeamId","in":"path","required":true,"type":"string"},{"name":"ChannelId","in":"path","required":true,"type":"string"},{"name":"TabId","in":"path","required":true,"type":"string"}]},"patch":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"displayName":{"type":"string","description":"displayName"},"teamsApp@odata.bind":{"type":"string","description":"teamsApp@odata.bind"},"configuration":{"type":"object","properties":{"entityId":{"type":"string","description":"entityId"},"contentUrl":{"type":"string","description":"contentUrl"},"websiteUrl":{"type":"string","description":"websiteUrl"},"removeUrl":{"type":"string","description":"removeUrl"}},"description":"configuration"},"sortOrderIndex":{"type":"string","description":"sortOrderIndex"},"webUrl":{"type":"string","description":"webUrl"}}}}},"summary":"Update a tab in a channel in a Team","description":"Update a tab in a channel in a Team (display name, content url and website url)","operationId":"UpdateTab","parameters":[{"name":"TeamId","in":"path","required":true,"type":"string"},{"name":"ChannelId","in":"path","required":true,"type":"string"},{"name":"TabId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"displayName":{"type":"string","description":"displayName"},"configuration":{"type":"object","properties":{"contentUrl":{"type":"string","description":"contentUrl"},"websiteUrl":{"type":"string","description":"websiteUrl"}},"description":"configuration"}}}}]}},"/groups/{GroupId}/drive":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"driveType":{"type":"string","description":"driveType"},"owner":{"type":"object","properties":{"user":{"type":"object","properties":{"id":{"type":"string","description":"id"},"displayName":{"type":"string","description":"displayName"}},"description":"user"}},"description":"owner"},"quota":{"type":"object","properties":{"deleted":{"type":"integer","format":"int32","description":"deleted"},"remaining":{"type":"integer","format":"int32","description":"remaining"},"state":{"type":"string","description":"state"},"total":{"type":"integer","format":"int32","description":"total"}},"description":"quota"}}}}},"summary":"Get Group Document Library","description":"Get Group Document Library","operationId":"GetGroupDrive","parameters":[{"name":"GroupId","in":"path","required":true,"type":"string"}]}},"/groups/{GroupId}/sites/root":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"displayName":{"type":"string","description":"displayName"},"name":{"type":"string","description":"name"},"createdDateTime":{"type":"string","description":"createdDateTime"},"lastModifiedDateTime":{"type":"string","description":"lastModifiedDateTime"},"webUrl":{"type":"string","description":"webUrl"}}}}},"summary":"Get Group Team Site","description":"Get Group Team Site","operationId":"GetGroupRootSite","parameters":[{"name":"GroupId","in":"path","required":true,"type":"string"}]}},"/teams/{TeamId}":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"@odata.context":{"type":"string","description":"@odata.context"},"id":{"type":"string","description":"id"},"createdDateTime":{"type":"string","description":"createdDateTime"},"displayName":{"type":"string","description":"displayName"},"description":{"type":"string","description":"description"},"internalId":{"type":"string","description":"internalId"},"classification":{"type":"string","description":"classification"},"specialization":{"type":"string","description":"specialization"},"visibility":{"type":"string","description":"visibility"},"webUrl":{"type":"string","description":"webUrl"},"isArchived":{"type":"boolean","description":"isArchived"},"isMembershipLimitedToOwners":{"type":"boolean","description":"isMembershipLimitedToOwners"},"discoverySettings":{"type":"object","properties":{"showInTeamsSearchAndSuggestions":{"type":"boolean","description":"showInTeamsSearchAndSuggestions"}},"description":"discoverySettings"},"memberSettings":{"type":"object","properties":{"allowCreateUpdateChannels":{"type":"boolean","description":"allowCreateUpdateChannels"},"allowCreatePrivateChannels":{"type":"boolean","description":"allowCreatePrivateChannels"},"allowDeleteChannels":{"type":"boolean","description":"allowDeleteChannels"},"allowAddRemoveApps":{"type":"boolean","description":"allowAddRemoveApps"},"allowCreateUpdateRemoveTabs":{"type":"boolean","description":"allowCreateUpdateRemoveTabs"},"allowCreateUpdateRemoveConnectors":{"type":"boolean","description":"allowCreateUpdateRemoveConnectors"}},"description":"memberSettings"},"guestSettings":{"type":"object","properties":{"allowCreateUpdateChannels":{"type":"boolean","description":"allowCreateUpdateChannels"},"allowDeleteChannels":{"type":"boolean","description":"allowDeleteChannels"}},"description":"guestSettings"},"messagingSettings":{"type":"object","properties":{"allowUserEditMessages":{"type":"boolean","description":"allowUserEditMessages"},"allowUserDeleteMessages":{"type":"boolean","description":"allowUserDeleteMessages"},"allowOwnerDeleteMessages":{"type":"boolean","description":"allowOwnerDeleteMessages"},"allowTeamMentions":{"type":"boolean","description":"allowTeamMentions"},"allowChannelMentions":{"type":"boolean","description":"allowChannelMentions"}},"description":"messagingSettings"},"funSettings":{"type":"object","properties":{"allowGiphy":{"type":"boolean","description":"allowGiphy"},"giphyContentRating":{"type":"string","description":"giphyContentRating"},"allowStickersAndMemes":{"type":"boolean","description":"allowStickersAndMemes"},"allowCustomMemes":{"type":"boolean","description":"allowCustomMemes"}},"description":"funSettings"}}}}},"summary":"Get Team details","description":"Get Team details with its ID","operationId":"GetTeam","parameters":[{"name":"TeamId","in":"path","required":true,"type":"string"}]}},"/teams/{TeamId}/channels/{ChannelId}":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"@odata.context":{"type":"string","description":"@odata.context"},"id":{"type":"string","description":"id"},"displayName":{"type":"string","description":"displayName"},"description":{"type":"string","description":"description"},"email":{"type":"string","description":"email"},"webUrl":{"type":"string","description":"webUrl"},"membershipType":{"type":"string","description":"membershipType"}}}}},"summary":"Get Team channel details","description":"Get Team channel details with its ID","operationId":"GetTeamChannel","parameters":[{"name":"TeamId","in":"path","required":true,"type":"string"},{"name":"ChannelId","in":"path","required":true,"type":"string"}]}},"/groups/{TeamId}/drive/root/children":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"@odata.context":{"type":"string","description":"@odata.context"},"value":{"type":"array","items":{"type":"object","properties":{"createdDateTime":{"type":"string","description":"createdDateTime"},"eTag":{"type":"string","description":"eTag"},"id":{"type":"string","description":"id"},"lastModifiedDateTime":{"type":"string","description":"lastModifiedDateTime"},"name":{"type":"string","description":"name"},"webUrl":{"type":"string","description":"webUrl"},"cTag":{"type":"string","description":"cTag"},"size":{"type":"integer","format":"int32","description":"size"},"createdBy":{"type":"object","properties":{"application":{"type":"object","properties":{"id":{"type":"string","description":"id"},"displayName":{"type":"string","description":"displayName"}},"description":"application"},"user":{"type":"object","properties":{"email":{"type":"string","description":"email"},"id":{"type":"string","description":"id"},"displayName":{"type":"string","description":"displayName"}},"description":"user"}},"description":"createdBy"},"lastModifiedBy":{"type":"object","properties":{"application":{"type":"object","properties":{"id":{"type":"string","description":"id"},"displayName":{"type":"string","description":"displayName"}},"description":"application"},"user":{"type":"object","properties":{"email":{"type":"string","description":"email"},"id":{"type":"string","description":"id"},"displayName":{"type":"string","description":"displayName"}},"description":"user"}},"description":"lastModifiedBy"},"parentReference":{"type":"object","properties":{"driveId":{"type":"string","description":"driveId"},"driveType":{"type":"string","description":"driveType"},"id":{"type":"string","description":"id"},"path":{"type":"string","description":"path"}},"description":"parentReference"},"fileSystemInfo":{"type":"object","properties":{"createdDateTime":{"type":"string","description":"createdDateTime"},"lastModifiedDateTime":{"type":"string","description":"lastModifiedDateTime"}},"description":"fileSystemInfo"},"folder":{"type":"object","properties":{"childCount":{"type":"integer","format":"int32","description":"childCount"}},"description":"folder"}}},"description":"value"}}}}},"summary":"Get Team channel Document Library","description":"Get Team channel Document Library","operationId":"GetTeamChannelDrive","parameters":[{"name":"TeamId","in":"path","required":true,"type":"string"},{"name":"filter","in":"query","required":false,"type":"string"}]}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{"undefined":{"type":"oauth2","flow":"accessCode","authorizationUrl":"https://login.windows.net/common/oauth2/authorize","tokenUrl":"https://login.windows.net/common/oauth2/authorize","scopes":{}}},"security":[{"undefined":[]}],"tags":[]}